node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
public/uploads
public/gallery-manifest.json
src/db/seed-places.ts
src/db/seed-selangor.ts
scripts
wrangler.jsonc

src/data/kuala-lumpur.json
src/data/selangor.json
.neon_local/
